<section class="intro">
  <div class="container">
    <img class="profile-picture" src="/assets/images/filipeandrade.png" alt="Filipe Andrade Picture">
    <div class="p-md-4 text-justify">
      <div class="d-flex flex-row">
        <a href="https://github.com/killboard" target="_blank"><i class="fab fa-github"></i>Github</a>
        <a class="pl-3" href="https://www.linkedin.com/feed/" target="_blank"><i class="fas fa-envelope"></i>Email</a>
        <a class="pl-3" href="mailto:filipeandrade.dev@gmail.com?Subject=Olá" target="_blank"><i class="fab fa-linkedin"></i>Linkedin</a>
      </div>
      <p class="lead text-justify">
        Engenheiro de Software, apaixonado por tecnologia, guitarrista e sul mato grossense.
        Desenvolvo projetos de software com foco no negócio atuando hoje com especialidade no backend.
    </div>
  </div>
</section>
